@using IdentityServer4.Extensions
@using Notes.Persistence
@model List<NoteLookupDto>

<link rel="stylesheet" href=@Url.Content("~/css/allnotes/allnotes.css")>

<div class="line-container">
    <div class="title-line">
        <div class="title">
            Заметки
            <div class="func">
                <button class="sort-btn">
                    <svg class="sort-icon" style="width:22px;height:22px" viewBox="0 0 24 24">
                        <path fill="currentColor" d="M18 21L14 17H17V7H14L18 3L22 7H19V17H22M2 19V17H12V19M2 13V11H9V13M2 7V5H6V7H2Z"/>
                    </svg>
                    Сортировка
                </button>
            </div>
        </div>
        <div class="search-div">
            <div class="svg-search">
            </div>
            <input class="input-search" type="text" placeholder="Поиск">
        </div>
    </div>

    <div class="notes" id="notes">
        @if (Model.IsNullOrEmpty())
        {
            await Html.RenderPartialAsync("~/Views/Notes/_NoNotesPartial.cshtml");
        }

        @foreach (var note in Model)
        {
            <form asp-controller="EditNote" asp-action="Index" asp-route-id="@note.Id" 
                  data-ajax="true" data-ajax-mode="replace" data-ajax-update="#edit" method="get">
                <button type="submit" class="item" asp-controller="EditNote" asp-action="Index" asp-route-id="@note.Id">
                    <div class="note-item">
                        <span class="item-title">
                            <span class="title-text">@note.Title</span>
                            <span class="date">@note.EditDate.Date.ToShortDateString()</span>
                        </span>
                        <div class="text">
                            @note.Text
                        </div>
                    </div>
                </button>
            </form>
        }
    </div>
</div>

<script src="lib/jquery/dist/jquery.min.js"></script>

<script>
console.log($('.note-item').length)

var input = document.querySelector('.count')
input.value = $('.note-item').length;
</script>